---
title: GoPay REST API
locale: en
toc_footers:
  - <a href='http://www.gopay.cz'>www.gopay.cz</a>
  - <a href='http://www.platebnibrana.cz'>www.platebnibrana.cz</a>
  - <a href='http://help.gopay.com'>help.gopay.com</a>

search: true
---

# GoPay REST API documentation

<%= partial "includes/languages" %>    


GoPay REST API is avaliable in test mode at ```https://gw.sandbox.gopay.com/api```.    

Production enviroment is located at ```https://gate.gopay.cz/api```. 
  
All comunication with API is encoded in UTF-8.  
  
You can find integration details in our [help center](https://help.gopay.com/en/s/uY).
