---
title: GoPay REST API
locale: en
toc_footers:
  - <a href='http://www.gopay.com'>GoPay website</a>
  - <a href='http://help.gopay.com/en'>Help center</a>
  - <a href="https://doc.gopay.cz"><img src = "../images/CSsmall.png"></a> <a href="https://doc.gopay.com"><img src = "../images/ENsmall.png"></a>
search: true
---

# Documentation

<%= partial "includes/languages" %>    

GoPay REST API is avaliable in test mode at ```https://gw.sandbox.gopay.com/api```.    

Production enviroment is located at ```https://gate.gopay.cz/api```. 
  
All comunication with API is encoded in UTF-8.  
  
You can find integration details in our [help center](https://help.gopay.com/en/s/uY).

For the test purposes you can use [making test paymets guide](https://help.gopay.com/en/s/wk) (includes e.g. test payments cards).