---
title: GoPay REST API
locale: cs
toc_footers:
  - <a href='http://www.gopay.com'>Oficiální web GoPay</a>
  - <a href='http://help.gopay.com/cs'>Centrum nápovědy</a>
  - <a href="https://doc.gopay.cz"><img src = "../images/CSsmall.png"></a> <a href="https://doc.gopay.com"><img src = "../images/ENsmall.png"></a>
search: true
---

# Dokumentace

<%= partial "includes/languages" %>

GoPay REST API je dostupné v testovacím prostředí na adrese ```https://gw.sandbox.gopay.com/api```.    

Provozní API se nachází na adrese ```https://gate.gopay.cz/api```. 
  
Pro veškerou příchozí i odchozí komunikaci s API je použito kódování UTF-8.  
  
Detailní popis jednotlivých kroků nutných pro provedení standardní integrace naleznete v [centru nápovědy](https://help.gopay.com/cs/s/i4).

Pro testovací účely je možné využít [testovací scénář](https://help.gopay.com/cs/s/h1) (obsahuje mj. testovací čísla platebních karet).
