# Platební brána
Pro vyvolání platební brány je možné použít HTML formulář, který pomocí Javascriptu
provede inicializaci platební brány. 

<aside class='notice'>
  Podrobný popis všech kroků nutných k vyvolání platební brány naleznete v našem <a href="https://help.gopay.com/cs/s/i4"><font color="black">centru nápovědy</font></a>.
</aside>

## Inline

>Formulář pro vyvolání Inline platební brány

<%= partial "includes/examples", :locals => { :example => data.example.gateInit.inline } %> 

[Inline](https://help.gopay.com/cs/s/iS) platební brána je vyvolána přímo nad portálem obchodníka, nedochází tedy k přesměrování.

URL (```action```) formuláře nastavte dle ```gw_url``` z [vytvoření platby](#standardni-platba).

<aside class='warning'>Pro využití inline platební brány na prodejních místech je nutné mít SSL certifikát (podpora HTTPS). Na prodejních místech, které SSL certifikát nemají, dojde standardně k vyvolání redirect varianty popisované níže.</aside>

Parametr formuláře|Popis|Povinný
------------------|-----|--------
action|gw_url založené platby|ANO
method|HTTP metoda|ANO
id|id formuláře|ANO| Vždy nastaveno na gopay-payment-button

## Redirect

>Formulář pro přesměrování na Redirect platební bránu

<%= partial "includes/examples", :locals => { :example => data.example.gateInit.redirect } %>   

Platební bránu lze provozovat i ve variantě [Redirect](https://help.gopay.com/cs/s/iU) (s přesměrováním). Lze použít formulář, viz příklad,
nebo provést přesměrování na URL (```gw_url```) předané při [vytvoření platby](#standardni-platba).

Parametr formuláře|Popis|Povinný
-----------------|-----|--------
action|gw_url založené platby|ANO
method|HTTP metoda|ANO