###Stržení předautorizované platby
Pomocí volání je možné strhnout předautorizaci finančních prostředků dříve vytvořené
[předautorizované platby](#predautorizovana-platba).   
   
Podrobné informace k předautorizovaným platbám naleznete v [centru nápovědy](https://help.gopay.com/cs/s/hV).

> Request

<%= partial "includes/examples", :locals => { :example => data.example.preauthorized_capture.request } %>

<h5>Request</h5>

```POST /api/payments/payment/{id}/capture```

<h5>Hlavička požadavku</h5>

Název parametru | Popis parametru | Povinný
----------------|-----------------|--------
Accept|application/json|ANO
Content-Type|application/x-www-form-urlencoded|ANO
Authorization|Bearer [```<access-token>```](#pristupovy-token)|ANO

> Response

<%= partial "includes/examples", :locals => { :example => data.example.preauthorized_capture.response } %>

<h5>Response</h5>

Název parametru|Popis parametru|Datový typ
---------------|---------------|----------
id|ID platby|long
[result](#result)|Objekt popisující stav požadavku| Objekt
