## Inline option

>Form to initiate the inline payment gateway

<%= partial "includes/examples", :locals => { :example => data.example.gateInit.inline } %> 

Inline payment gateway is initiated directly above the point of sale, there is no redirection. 

URL (action) form set according to ```gw_url``` from [creation of the payment](#standard-payment). 


Form parameter|Description|Required
------------------|-----|--------
action|gw_url of created payment|YES
method|HTTP method|YES
id|Form ID|YES| Always sets on gopay-payment-button

<aside class='notice'>
  For further information about all steps needed to make base payment check our  <a href="https://help.gopay.com/en/s/ey">help center</a>
</aside>

## Redirect option

>Form to redirect to "redirect" the payment gateway

<%= partial "includes/examples", :locals => { :example => data.example.gateInit.redirect } %>   

The payment gateway can also be operated in the option with redirection. You can use the form below 
or redirect to the URL obtained during [creation of the payment](#standard-payment) ```gw_url```.


Form parameter|Description|Required
-----------------|-----|--------
action|gw_url of created payment|YES
method|HTTP method|YES