# Payment gateway
To initiate the payment gateway, it is possible to use HTML form using Javascript
initiates the payment gateway. 

<aside class='notice'>
  For further information about all steps needed to make base payment check our  <a href="https://help.gopay.com/en/s/ey"><font color="black">help center</font></a>
</aside> 

## Inline

>Form to initiate the Inline payment gateway

<%= partial "includes/examples", :locals => { :example => data.example.gateInit.inline } %> 

[Inline](https://help.gopay.com/en/s/xb) payment gateway is initiated directly above the point of sale, there is no redirection. 

URL (```action```) form set according to ```gw_url``` from [creation of the payment](#standard-payment). 

<aside class='warning'>The inline payment gateway in points of sale is available only with SSL certificate support (run on HTTPS). In points of sale that don´t have SSL certificate support is automatically performed redirect option described bellow.</aside>

Form's parameter|Description|Required
------------------|-----|--------
action|gw_url of created payment|YES
method|HTTP method|YES
id|Form ID|YES| Always sets on gopay-payment-button

## Redirect

>Form of redirection to "Redirect" payment gateway

<%= partial "includes/examples", :locals => { :example => data.example.gateInit.redirect } %>   

The payment gateway can also be operated in the option with [Redirect](https://help.gopay.com/en/s/xd). You can use the form below 
or redirect to the URL (```gw_url```) obtained during [creation of the payment](#standard-payment).

Form's parameter|Description|Required
-----------------|-----|--------
action|gw_url of created payment|YES
method|HTTP method|YES