###Charge of pre-authorization
The functionality enables charging of pre-authorized funds previously created by
[pre-authorized payment](#pre-authorized-payment).

Additional information about pre-authorized payments you can find in [help center](https://help.gopay.com/en/s/uT).

> Request

<%= partial "includes/examples", :locals => { :example => data.example.preauthorized_capture.request } %>

<h5>Request</h5>

```POST /api/payments/payment/{id}/capture```

<h5>Header of request</h5>

Parameter name|Description| Required
----------------|-----------------|--------
Accept|application/json|YES
Content-Type|application/x-www-form-urlencoded|YES
Authorization|Bearer [```<access-token>```](#access-token)|YES

> Response

<%= partial "includes/examples", :locals => { :example => data.example.preauthorized_capture.response } %>

<h5>Response</h5>

Parameter name|Description| Type
---------------|---------------|----------
id|payment ID|long
[result](#result)|Object describing the request status| Object