### Recurring on demand

The functionality allows you to recur the payment based on previously established recurring payment
```ON_DEMAND``` mode. Recurring in this mode establishes the subsequent payment. The point of sale is informed through the notification about the change in the payment status.

More information about reccuring payments you can find in [help center](https://help.gopay.com/en/s/uR).

<b>EET</b>

For the [registration of sales](#registration-of-sales-eet) functionality the request is expanded by object [eet](#eet).

> Request

<%= partial "includes/examples", :locals => { :example => data.example.recurrence_ondemand.request } %>

<h5>Request</h5>

```POST /api/payments/payment/{id}/create-recurrence```

<h5>Header of request</h5>

Parameter's name|Parameter's description| Required|
----------------|-----------------|--------
Accept|application/json|YES
Content-Type|application/json|YES
Authorization|Bearer [```<access-token>```](#access-token)|YES

<h5>Body of request</h5>

Parameter's name|Parameter's description| Required| Data's type
---------------|---------------|-------|-------
amount|Amount|YES|long > 0
[currency](#currency)|Currency of payment, format corresponds to [ISO 4217](http://www.iso.org/iso/home/standards/currency_codes.htm)|YES| string
order_number|Order ID| 	Order identification within the point of sale|string, alphanumeric characters only (128 characters)
order_description| 	Description of goods/service|YES|string, alphanumeric characters only (256 characters)
[items](#items)|Itemized in detail of each item of the order|YES|Object
[eet](#eet)|EET parameters (required for [registration of sales](#registration-of-sales-eet) functionality)|NO|Object
[additional_params](#additional-params)|Additional parameters of the payment|NO|Object

> Response

<%= partial "includes/examples", :locals => { :example => data.example.recurrence_ondemand.response } %>

<h5>Response</h5>
  
Parameter's name|Parameter's description| Data's type
---------------|---------------|-------
id|Payment ID|long
parent_id|Parent payment ID|long
order_number|Order ID|string, alphanumeric characters only (128 characters)
[state](#payment-status)|Payment status|Object
amount|Amount in cents|long > 0
[currency](#currency)|Specifies the currency payment, currency format corresponds to [ISO 4217](http://www.iso.org/iso/home/standards/currency_codes.htm)|string, can gain values see [currency](#currency)
[payment_instrument](#payment_instrument)| Code of chosen payment method | string can gain values see [payment_instrument](#payment_instrument)
[payer](#payer)| Object describing the payer of the payment|Object
[target](#target)| Object describing the target of the payment (payee)|Object
[additional_params](#additional-params)|  Additional parameters of the payment|Object arrays
[lang](#lang)|Payment language|string, can gain values see [lang](#lang)
gw_url|URL for initiation of the payment gateway|string