### EET refundation

Refundation of the EET payment back to the customer.

> Request

<%= partial "includes/examples", :locals => { :example => data.example.refund_eet.request } %>

<h5>Request</h5>

```POST /api/payments/payment/{id}/refund```

<h5>Header of request</h5>

Parameter name|Description| Required
----------------|-----------------|--------
Accept|application/json|YES
Content-Type|application/json|YES
Authorization|Bearer [```<access-token>```](#access-token)|YES

<h5>Body of request</h5>

Parameter name|Description| Required| Type
---------------|---------------|-------|-------
amount|Refunded amount in cents|YES|long > 0
[items](#items)|Itemized in detail each item of the order|YES| Object
[eet](#eet)|Parameters for registration of sales|YES| Object

> Response

<%= partial "includes/examples", :locals => { :example => data.example.refund_eet.response } %>

<h5>Response</h5>

Parameter name|Description| Type
---------------|---------------|-------
id|Payment ID|long
[result](#result)|Status of request| Object