# Merchant account

GoPay merchant account is a basic tool to view and check all your payments within the GoPay payment system. 
REST API functions allow you to e.g. generate movement statement from GoPay merchant account.

## Account statement
The funcionality generates statements from GoPay business account.
It returns content of account statement file.
More information about file types specification you can find in [help center](https://help.gopay.com/en/s/cj).

> Request

<%= partial "includes/examples", :locals => { :example => data.example.statement.request } %>

<h5>Request</h5>

```POST /api/accounts/account-statement```

<h5>Header of request</h5>

Parameter's name|Parameter's description|Required
---------------|---------------|-------
Accept|application/json|YES
Content-Type|application/json|YES
Authorization|Bearer [```<access-token>```](#access-token)|YES

<h5>Body of request</h5>

Parameter's name|Parameter's description|Required|Data's type
----------------|-----------------|---------|-----------
date_from|Statement start date|YES| string yyyy-mm-dd
date_to|Statement end date|YES| string yyyy-mm-dd
goid|Unique identifier of an e-shop in the payment gateway system|YES| long
[currency](#currency)|Specifies the currency, format corresponds to [ISO 4217](http://www.iso.org/iso/home/standards/currency_codes.htm)|YES| string
[format](#format)|Specifies format type of generated statement|YES|string

<h5>Response</h5>

```Response in type application/octet-stream```