## Identification payment

The function of identification payment via payment card allow to making payments on the e-shop with customers's unique payment card.
The functionality also guarantee that the customer has got full access to authorize transactions with the payment card.

<aside class='notice'>
For activation of identification payment functionality please <a href="mailto:integrace@gopay.cz?subject=GoPay - identification payment"><font color="black">contact</font></a> technical support GoPay.
</aside>

### The initiating payment

The request for creation of verification payment is based on standard payment creation. The verification payment uses added parameter ```verify_pin```.
When the payment is made the value of ```verify_pin``` parameter is available at transaction list in customer's internet banking connected with the payment card.
The e-shop can require fill in the value of verification PIN to authorize the payment card's owner.

When the payment is created as pre-authorized you need to make [charge](#charge-of-pre-authorization) or [cancellation](#cancellation-of-pre-authorization) of pre-authorized payment.

> Request

<%= partial "includes/examples", :locals => { :example => data.example.create_preauthorized_verify.request } %>

<h5>Request</h5>

```POST /api/payments/payment```

<h5>Header of request</h5>

Parameter's name | Parameter's description | Required
----------------|-----------------|--------
Accept|application/json|YES
Content-Type|application/json|YES
Authorization|Bearer [```<access-token>```](#access-token)|YES

<h5>Body of request</h5>

Parameter's name | Parameter's description | Required | Data's type
----------------|-----------------|---------|--------
[payer](#payer)|Object describing the payer of the payment|YES| Object
[target](#target)|Object describing the target of the payment (payee)|YES| Object
amount| Amount in cents|YES| long > 0
[currency](#currency)|Specifies the currency of the payment, currency format corresponding to [ISO 4217](http://www.iso.org/iso/home/standards/currency_codes.htm)|YES|string, can gain values see [currency](#currency)
order_number|Order identification within the point of sale|YES| string, alphanumeric characters only (128 characters)
order_description|Description of goods / service|NO| string, alphanumeric characters only (256 characters)
[items](#items)|Itemized in detail each item of the order|YES| Object array
preauthorization|Activation of pre-authorized payment|YES| bool
[additional_params](#additional-params)|Additional parameters of the payment|NO| Object array
[callback](#callback)|Callback URL and notification URL for change in the payment status|YES| Object

> Response

<%= partial "includes/examples", :locals => { :example => data.example.create_preauthorized_verify.response } %>

<h5>Response</h5>
  
Parameter's name|Parameter's description|Data's type
---------------|---------------|-------
id|Payment ID|long
order_number| order ID| string, alphanumeric characters only (128 characters)
[state](#payment-status)|Payment status| string, can gain values see [state](#payment-status)
amount|Amount in cents|long > 0
[payer](#payer)| Object describing the payer of the payment| Object
[target](#target)| Object describing the target of the payment (payee)| Object
[preauthorization](#preauthorization)| Object describing the pre-authorization| Object
[additional_params](#additional-params)| Additional parameters of the payment| Object array
[lang](#lang)|Payment language| string, can gain values see [lang](#lang)
gw_url|URL to initiate the payment gateway| string

### The next payment

The request for creation of the next identification payment is based on standard payment creation with use of 
```allowed_card_token``` parameter that is returned in [payment status](#status-of-the-payment) response of the first identification payment.

> Request

<%= partial "includes/examples", :locals => { :example => data.example.create_standard_verify.request } %>    

<h5>Request</h5>

```POST /api/payments/payment```

<h5>Header of request</h5>

Parameter's name | Parameter's description | Required
----------------|-----------------|--------
Accept|application/json|YES
Content-Type|application/json|YES
Authorization| Bearer [```<access-token>```](#access-token)|YES

<h5>Body of request</h5>

Parameter's name| Parameter's description | Required | Data's type
----------------|-----------------|---------|-----------
[payer](#payer)|The object describing the payer of the payment|YES| Object
[target](#target)|The object describing the target of the payment (payee)|YES| Object
amount|Amount in cents|YES| long > 0
[currency](#currency)|Specifies the currency of payment, currency format corresponds to [ISO 4217](http://www.iso.org/iso/home/standards/currency_codes.htm)|YES| string
order_number|Identification of the order within the point of sale|YES| string, alphanumeric characters only (128 characters)
order_description|Description of goods / service|NO|string, alphanumeric characters only (256 characters)
[items](#items)|Itemized in detail each item of the order|YES| Object
[callback](#callback)|Callback URL for processing of the payment result / Notification URL for processing of change of payment status|YES| Object
[additional_params](#additional-params)|Additional payment parameters|No| According to object
[lang](#lang)|Parameters defines language of the payment|NO| string, can gain values see [lang](#lang)

>Response

<%= partial "includes/examples", :locals => { :example => data.example.create_standard_verify.response } %>                   
                
<h5>Response</h5> 
  
Parameter's name|Parameter's description| Data's type
---------------|---------------|-----------
id|Payment ID|long
order_number|Identification of order| string, alphanumeric characters only (128 characters)
[state](#payment-status)|Payment status| string, can gain values see [state](#payment-status)
amount|Amount in cents| long > 0
[currency](#currency)|Specifies the currency of payment| string, can gain values see [currency](#currency)
[payer](#payer)| Object describing the payer of the payment| Object
[target](#target)| Object describing the target of the payment (payee)| Object
[additional_params](#additional-params)|Additional parameters of payments| Object array
[lang](#lang)|Parameter defines payment language| string, can gain values see [lang](#lang)
gw_url|URL for initiation of the payment gate|string